/* Modern Header Container */
:root {
  --Header-background: linear-gradient(135deg, #6a11cb, #2575fc); 

}


[data-theme="dark"] {
  --Header-background: linear-gradient(135deg, #4e128e, #1e4588); 

}

.hdr-modern-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh; /* Adjustable height */
  background: var(--Header-background); /* Modern gradient */
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 0 0 10px 10px; /* Rounded bottom for smooth look */
}

/* Modern Content */
.hdr-modern-content {
  padding: 20px;
}

/* Header Title */
.hdr-modern-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); /* Soft text shadow */
}

/* Subtitle */
.hdr-modern-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9); /* Slightly transparent */
}

/* Highlight for Branding */
.hdr-modern-highlight {
  font-weight: 700;
  color: #f9c74f; /* Bright highlight for Bazelink */
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3); /* Bold text shadow */
}
