/* Header.css */

/* Style for the header background */
.header {
  background-size: cover;
  background-position: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px; /* You can adjust this height */
}

/* Center the content inside the header */
.header-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styling for the logo on the left */
.logo {
  position: absolute;
  left: 30px;
  top: 95%;
  transform: translateY(-50%);
  max-width: 120px;
  border-radius: 50%;
}

/* Text styling for the welcome message */
h1 {
  font-size: 3rem;
  z-index: 1; /* Ensure text is above the background */
}

/* Error message styling */
.error {
  color: red;
  font-size: 1rem;
  text-align: center;
  z-index: 1; /* Ensure error message appears above other content */
}
/* Example for mobile responsiveness */
@media (max-width: 768px) {
  .logo {
    max-width: 70px;
    left: 20px;
    top: 95%;
  }

  h1 {
    font-size: 2rem;
  }
}

.background-image {
  width: 100%; /* Ensures the image covers the full width */
  height: 100%; /* Ensure the image covers the entire height of the header */
  object-fit: cover; /* Ensures the image covers the container and keeps aspect ratio */
  position: absolute; /* Position the image in the background */
  top: 0;
  left: 0;
  z-index: -0.8;
}

/* Add a semi-transparent background behind text */
.text-container {
  background: rgba(0, 0, 0, 0.6); /* Black background with 60% opacity */
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}

.shdr-titles{
  color: aliceblue;
}