.home {
    text-align: center;
    width: 100vw;
  }
  
  main{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  main section{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
  }

  .user-section
  {
    max-width: 300px;
  }
  .home-intro, .home-features {
    margin: 10px ;
    width: 100%;
    padding: 10px;
  }
  
  .home-footer {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  