.home {
    text-align: center;
  }
  
  main{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  main section{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
  }

  .home-intro, .home-features {
    margin: 20px 0;
  }
  
  .home-footer {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  