testcode
gh
yenyesidaikwanza
yasam
zote
client_secret_1046055573406-gdb206a2e0dn6spnhmv1593g4gvp28il.apps.googleusercontent.com.json
node_modules


sdk.dir=/home/tk/Android/Sdk
cmake.dir=/home/tk/Android/Sdk/cmake
ndk.dir=/home/tk/Android/Sdk/ndk
ndk.dir=/home/tk/Android/Sdk/ndk/25.1.8937393

# Ignore Electron build files
frontend/clientadmin/dist