/* General Styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

/* App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container for the form */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

/* Form heading */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Form styles */
form {
  width: 100%;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

input, select {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button styles */
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Message styles */
.message, .error {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}

.error {
  color: red;
}

/* Link styles */
a {
  color: #007BFF;
  text-decoration: none;
  margin-top: 20px;
}

a:hover {
  text-decoration: underline;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  padding-right: 40px; /* Add padding to make space for the toggle button */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
}
