.toggle-password {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    left: 40%;
    top: 4%;
  }
  .toggle-password:hover
  {
    background: none;
    width: 0px;
    height: 0px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    left: 90%;
    top: 7%;
  }
  
  .toggle-password:focus {
    outline: none;
    width: 0px;
    height: 0px;
    background: none;
  }
  
  .toggle-password:active {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    width: 0px;
    height: 0px;
    left: 90%;
    top: 7%;
  }
  