/* Container */
.userinfo-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background: var(--overlay-light);
  font-family: 'Arial', sans-serif;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.userinfo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.userinfo-content {
  color: var(  --input-text-color);
  line-height: 1.8;
}

.userinfo-row {
  font-size: 16px;
  margin: 10px 0;
  border-bottom: 1px solid var(  --input-text-color);
  padding-bottom: 5px;
}

.userinfo-row:last-child {
  border-bottom: none;
}

.userinfo-card i {
  color: var(  --input-text-color);
}



  
  /* Buttons Section */
  
  .logoutbutton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
  }
  
  .logoutbutton:hover {
    background-color: #c82333;
  }
  
  /* Form Fields */
  form {
    margin-top: 10px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
  }
  

  /* Save Buttons */

  
  /* Messages */
  .message, .error {
    font-size: 0.85rem;
    padding: 6px 10px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  
  .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 600px) {
    .settingmain{
      max-width: 350px;
    }
    .settings-button {
      padding: 5px 8px;
      font-size: 0.75rem;
    }
    .set-buttons{
      display: flex;
      flex-direction: column;
    }
  
  
    h2 {
      font-size: 1.3rem;
    }
  
    .userinfo img {
      width: 50px;
    }
  }
  